<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
      <string>PSGroupCell</string>
			<key>label</key>
			<string>Stuff To Display</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>timeEnabled</string>
			<key>label</key>
			<string>Time</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>dateEnabled</string>
			<key>label</key>
			<string>Date</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>weatherEnabled</string>
			<key>label</key>
			<string>Weather</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>worldClockEnabled</string>
			<key>label</key>
			<string>World Clock</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>uptimeEnabled</string>
			<key>label</key>
			<string>Uptime</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>networkEnabled</string>
			<key>label</key>
			<string>Network Speed</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>batteryEnabled</string>
			<key>label</key>
			<string>Battery Percentage</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>volumeEnabled</string>
			<key>label</key>
			<string>Volume Percentage</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>compassEnabled</string>
			<key>label</key>
			<string>Compass</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>nameEnabled</string>
			<key>label</key>
			<string>Name</string>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>default</key>
			<string>Name</string>
			<key>key</key>
			<string>name</string>
			<key>placeholder</key>
			<string>Name</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>PostNotification</key>
			<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
	</dict>
		<dict>
			<key>cell</key>
      <string>PSGroupCell</string>
			<key>label</key>
			<string>Update Rate / Animation Duration</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3.0</real>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>updateRate</string>
			<key>min</key>
			<real>1.0</real>
			<key>max</key>
			<real>10.0</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.125</real>
			<key>defaults</key>
			<string>com.neinzedd9.nittysettings</string>
			<key>key</key>
			<string>animationDuration</string>
			<key>min</key>
			<real>0.125</real>
			<key>max</key>
			<real>0.500</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
    	<string>com.neinzedd9.nittysettings/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring to apply changes to animations.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Concept by ZeusiPhx.
Icon by ***** from the Noun project.</string>
		</dict>
		<dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
    	<string>HBTwitterCell</string>
    	<key>height</key>
    	<integer>56</integer>
    	<key>label</key>
    	<string>NeinZedd9</string>
    	<key>user</key>
    	<string>neinzedd9</string>
		</dict>
	</array>
	<key>title</key>
	<string>Nitty</string>
</dict>
</plist>
